<header>
    <div class="logo">Your Logo</div>
    <nav class="navbar">
        <ul>
            <li>
                <a href="/">Forsiden</a>
                <a href="/login">Login</a>
                <a href="/kalender">Kalender</a>
                <a href="/bookTid">Book tid</a>
                <a href="/indkøbskurv">Indkøbskurv</a>
                <a href="/profile">Profile</a>
                <a href="/minebooking">Mine Booking</a>
                <a href="/mineTilmeldinger">Mine tilmeldinger</a>
                <a href="/logout">Logout</a>
                  <!-- Admin-->
                <a href="/skabBruger">Skab Bruger</a>
                <a href="/opretBane">Opret Bane</a>
                <a href="/OpretHoldSide">Opret hold side</a>
                <a href="/oversigtAfBookinger">Oversigt af bookinger</a>
            </li> 
          
        </ul>
    </nav>

</header>