<header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <nav class="navbar">
        <div class="brand-tilte">Netbooker</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/">Forside</a></li>
                <li><a href="/kalender2">Kalender</a></li>
                <% if (!user) { %>
                    <li><a href="/login">Login</a></li>
                <% } else { %>
                    <li><a href="/indkøbskurv">Indkøbskurv</a></li>
                    <li><a href="#" class="profile-icon material-symbols-outlined">account_circle</a></li>
                <% } %>
                <div class="dropdown-content">
                    <% if (user) { %>
                        <% if (user.Brugertype === 'Admin') { %>
                            <ul>
                                <li class="dropdownList"><a href="/minprofil">Profile</a></li>
                                <li class="dropdownList"><a href="/registrer">Tilføj Bruger</a></li>
                                <li class="dropdownList"><a href="/redigerogsletbruger">Søg efter brugere</a></li>
                                <li class="dropdownList"><a href="/lavBane">Opret Bane</a></li>
                                <li class="dropdownList"><a href="/sletBane">Rediger/Slet Bane</a></li>
                                <li class="dropdownList"><a href="/OpretHoldSide">Opret hold side</a></li>
                                <li class="dropdownList"><a href="/oversigtAfBookinger">Oversigt af bookinger</a></li>
                                <li class="dropdownList"><a href="/logout">Logout</a></li>
                                
                            </ul>
                            <%console.log('login ===Admin'); %>
                        <% } else if (user.Brugertype === 'Normal') { %>
                            <ul>
                                <li class="dropdownList"><a href="/minprofil">Profile</a></li>
                                <li class="dropdownList"><a href="/minebooking">Mine Booking</a></li>
                                <li class="dropdownList"><a href="/mineTilmeldinger">Mine tilmeldinger</a></li>
                                <li class="dropdownList"><a href="/logout">Logout</a></li>
                            </ul>
                            <%console.log('login ===Normal'); %>
                        <% } else { console.log('unexpected Brugertype'); } %>
                    <% } else { console.log('not login'); } %>
                </div>
            </ul>
        </div>
    </nav>

    <script>
        const toggleButton = document.querySelector('.toggle-button');
        const navbarLinks = document.querySelector('.navbar-links');
        const dropdownContent = document.querySelector('.dropdown-content');

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active');
        });

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.profile-icon')) {
                const dropdowns = document.querySelectorAll('.dropdown-content');
                dropdowns.forEach((dropdown) => {
                    if (dropdown.classList.contains('show')) {
                        dropdown.classList.remove('show');
                    }
                });
            }
        };

        document.querySelector('.profile-icon').addEventListener('click', () => {
            dropdownContent.classList.toggle('show');
        });
    </script>
</header>