<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <title>Netbooker</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="forside-conten">
      <!--<img src="https://www.globaltennisnetwork.com/images/easyblog_articles/120/tennisballs.png" alt="" class="background-image">-->
      <h1 class="overskrift">Velkommen til Netbooker</h1>
      <section>
        <p>Vi byder dig hjerteligt velkommen til Netbooker – din ultimative destination for problemfri booking af tennis- og paddle tennisbaner. Vi forstår vigtigheden af at gøre sport og aktiviteter tilgængelige, og derfor har vi skabt en platform, der gør det nemt for dig at reservere din foretrukne bane på et øjebliks varsel.</p>
    
        <h2>Hvad gør Netbooker unik?</h2>
        <ul>
            <li><strong>Hurtig og Enkel Booking:</strong> Med vores brugervenlige interface kan du hurtigt og nemt booke din ønskede tennis- eller paddle tennisbane. Et par klik, og du er klar til at spille!</li>
            <li><strong>Fleksible Bookingmuligheder:</strong> Vi forstår, at dine planer kan ændre sig. Derfor giver Netbooker dig mulighed for at tilpasse dine reservationer, så de passer til din travle hverdag.</li>
            <li><strong>Opdaterede Kalendere:</strong> Vores kalendere er altid opdaterede, så du kan være sikker på, at den tid, du ønsker, er tilgængelig. Ingen overraskelser, bare ren spilleglæde.</li>
            <li><strong>Tennis og Paddle Tennis:</strong> Uanset om du foretrækker den klassiske tennisoplevelse eller det mere dynamiske paddle tennis, har vi baner, der passer til dine præferencer.</li>
        </ul>
    
        <h2>Sådan kommer du i gang:</h2>
        <ol>
            <li>Opret en konto på Netbooker.</li>
            <li>Gennemse tilgængelige baner og vælg din foretrukne.</li>
            <li>Vælg tidspunktet, der passer dig bedst.</li>
            <li>Bekræft din reservation, og glæd dig til at spille!</li>
        </ol>

        <script>
          const storedBookings = JSON.parse(sessionStorage.getItem('bookings')) || [];

          storedBookings.forEach((booking, index) => {
          console.log(`Booking ${index + 1}:`, booking);
      });
        </script>
    
        <p>Vi er dedikerede til at gøre din sportsoplevelse så gnidningsløs som mulig. Netbooker er din partner i at opdage glæden ved tennis og paddle tennis. Lad boldene rulle, og book din næste bane hos os!</p>
    
        <p><strong>Spil mere, book nemmere – Velkommen til Netbooker!</strong></p>
        <br/><br/>
    </section>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
