<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css"> <!-- Tilføj stien til din stylesheet -->
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <% if (typeof error !== 'undefined') { %>
      <p class="error-message"><%= error %></p>
    <% } else { %>
      <p class="error-message"></p>
    <% } %>
    <form action="/login" method="POST">
      <label for="Brugernavn">Brugernavn:</label>
      <input type="text" id="Brugernavn" name="Brugernavn" required>
      <label for="Kodeord">Adgangskode:</label>
      <input type="password" id="Kodeord" name="Kodeord" required>
      <button type="submit">Log ind</button>
    </form>
  </div>
</body>
</html>
