/*CSS reset */
* {
        margin: 0;
        padding: 0;
        font-family: Lato;
}
    
    body {
      height: 100%;
      position: relative;
}

    /*NavBar*/
    nav{
      background-color: #078211;
      padding: 20px;
      position: sticky;
      top: 0;
      width: 100%;
      left: 0;
}
    
    nav ul{
      white-space: nowrap;
      max-width: 1200px;
      margin:0 auto;
    }
    nav li{
      width: 18%;
      display: inline-block;
      font-size: auto;
    }
    
    nav li a{
      text-decoration: none;
      color: black;
      text-decoration: underline;
    }


    /*Login siden */


    /* public/styles/login.css (Opret mappen 'styles' i din offentlige mappe og gem denne fil der) */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 15px;
}
