th, td {
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Add cursor style for clickable cells */
    height: 50px; /* Set a fixed height for all cells */
}
td{
    border: 0.5px solid rgb(134, 134, 134);
}
 th{
    background-color: #4caf70;
    color: white;
    text-align: center;
    font-size:x-large;
    font-weight: bold;
}

.time-column {
    text-align: center;
    width: 12.5%;
    font-weight: bold;
}

.Button{
    background-color: #4caf70; /* Green color for Rediger button */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-left: auto;
    cursor: pointer;
    border-radius: 4px;
}

select, label, button {
    text-align: center;
    font-size:x-large;
    margin: 5px;
}
option {
    font-size: xx-large;
}

.date-info {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10%;
}

/* Hidden modal initially */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%; /* Ændre bredden for desktop */
    height: 60%; /* Ændre højden for desktop */
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#popup-content {
    font-size: 40px;
    height: 100%
}

.booking-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* To kolonner med lige bredde */
    gap: 10px; /* Afstand mellem kolonner og rækker */
}

.booking-form .form-group {
    margin-bottom: 10px; /* Juster afstanden mellem formulargrupper */
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
}

.booking-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.booking-form button:hover {
    background-color: #45a049;
}

.book-button, .login-button, .confirm-button{
    /*margin: 0 auto;
    background-color: #4caf70; /* Green color for Rediger button 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 24px;
    margin-left: auto;
    cursor: pointer;
    border-radius: 4px;
    align-content: center;*/
    background-color: #4caf70; /* Green color for button */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}


/* Mobilformat */
@media (max-width: 920px) {
    .modal {
        width: 90%; /* Ændre bredden for mobil */
        height: 70%; /* Ændre højden for mobil */
    }
    #popup-content {
        font-size: 25px;
    }
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px; /* Øg bredden for at gøre knappen mere iøjnefaldende */
    height: 40px; /* Øg højden for at gøre knappen mere iøjnefaldende */
    color: red;
    font-size: 40px;
    background-color: #ffffffe8;
    border: 2px solid red; /* Tilføj en kant for at adskille knappen fra baggrunden */
    border-radius: 50%; /* Giv knappen en rund form */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tilpasninger til mobilvisning */
@media (max-width: 920px) {
    .modal-close {
        top: 10px;
        right: 10px;
        font-size: 18px; /* Juster fontstørrelsen til mobilvisning */
        width: 30px; /* Juster bredden til mobilvisning */
        height: 30px; /* Juster højden til mobilvisning */
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha (fourth parameter) to control transparency */
    z-index: 1;
}

.popup {
    /* Add styles for your popup here */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 30px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
@media (max-width: 920px) {
    table {
        width: 100%;
        font-size: 9px;
        margin-bottom: 20%;
    }

    th, td {
        width:fit-content;
        text-align: center;
        padding: 5px;
        height: 40px;
    }

    .time-column {
        width: 25%;
        font-weight: bold;
    }
    td{
        font-size: large;
    }

    .date-info {
        margin-bottom: 10px;
    }

    select, label, button {
        text-align: center;
        width: max-content;
        font-size: x-large;
        margin: 5px;
    }

    .Button{
        font-size: medium;
    }

}