.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}
form {
    display: flex;
    flex-direction: column;
}

/* Style for labels within the <span> */
label {
    font-weight: bold;
    /* Add any other desired styles */
}
p {
    font-weight: bold;
}
.period-start-end label{
    font-weight: lighter;
}
/*.listBane{
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    cursor: pointer;
    width: 80%;

    
}*/

.makeHold{
    background-color: #4caf70;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: 16px;
    padding: 10px;
    font-size: 16px;
}
.chooseBane{
    list-style: none;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    cursor: pointer;
    width: 80%;
}
.chooseBane button{
    background-color: #f44336; /* Red color for Slet button */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
}
.chooseBane button:hover{
    background-color: #c0392b;
}
.chooseTimes button{
    background-color: #f44336; /* Red color for Slet button */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
}
.chooseTimes button:hover{
    background-color: #c0392b;
}
.chooseTimes{
    list-style: none;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    cursor: pointer;
    width: 80%;
}

.card-content {
    /* Define styles for the content inside the card */
    /* Customize this according to your design */
    display: flex;
    justify-content: space-between;
    align-items: center
}
.redStare{
    color:#f44336;
    display: none;
}

.response-message {
    position: fixed;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    padding: 20px;
    /* background-color: #1caf60; */
    background-color: #1caf60c7;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    color: white;
    font-size: xx-large;
}