/* public/styles/register.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .admin-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    width: 600px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  .registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .form-group {
    margin: 0 15px 15px 15px;
    text-align: left;
    width: calc(50% - 30px);
  }
  
  .half-width {
    display: inline-block;
    width: calc(50% - 5px);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf70;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #1caf60;
  }
  
  p {
    margin-top: 15px;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .popup p {
    margin: 0;
  }
  
  .popup span.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  @media(max-width: 920px) {
    body {
      margin: 10px 10px;
      height: unset;
    }
  }